#login{
    background-image: url(../../../image/bg-image/learning-concept.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:100px 0px ;
   
}
#login img{
    width: 80%;
}